/* Color Theme Swatches in Hex */
/*.background{ color: #BAD9D0; }
.principal { color: #17261E; }
.destaque { color: #2D402A; }
.background { color: #95BF6B; }*/

html {
  background: #BAD9D0;
  color: #2D402A;
}

body {
    width: 960px;
    font-family: sans-serif;
    margin: 0 auto;
}

p {
    text-indent: 1em;
}


h1, h2, h3 {
    text-align: center;  
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.resumo {
    text-align: right;
}

.principal p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}